{% extends 'layout.html' %}

{% block title %}
Add Book
{% endblock %}

{% block content %}
{% include 'adminNavbar.html' %}

<div class="d-flex pt-5 pb-3 justify-content-center">
    <h1 class="text-center">Add New Book</h1>
    <hr>
</div>

<div class="container w-50 ">
    <form action="" method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Author(s)</label>
            <input type="text" class="form-control" name="authors" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" name="description" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Section</label>
            <select class="form-select" name="sectionID" required>
                <option selected>Select Section ID</option>
                {% for item in sections %}
                <option>{{item.section_id}}. {{item.name}}</option>
                {% endfor %}
              </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



{% endblock %}