{% extends 'layout.html' %}

{% block title %}
    Manage Users
{% endblock %}

{% block content %}
    {% include 'adminNavbar.html'   %}
    <h1 class="text-center">Manage Users</h1>
    <hr>
    <div class="container">
        <h3>Users</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Active From</th>
                    <th scope="col">Total Number of Requests</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.user_id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.date_created.strftime('%d-%m-%Y') }}</td>
                        <td>{{ user.total_books_borrowed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}