<div class="mt-2">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        {% if 'success' in message|lower %}
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>