<div class="container-fluid" style="background-color: #FFE4C9;">
    <div class="row mt-3 justify-content-between " >
        <div class="col-1 align-self-center">
            <h3>BookNest</h3>
        </div>
        <div class="col-9 align-self-center">
            <ul class="nav justify-content-center nav-pills ">
                <li class="nav-item">
                    <a class="{% if active=='Dashboard' %}nav-link active{% else %}nav-link{%endif %}" href="{{url_for('user_dashboard', id=User.user_id)}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="{% if active=='myBook' %}nav-link active{% else %}nav-link{%endif %}" href="{{url_for('myBook', id=User.user_id)}}">My Books</a>
                </li>
                <li class="nav-item">
                    <a class="{% if active=='browseBooks' %}nav-link active{% else %}nav-link{%endif %}" href="{{url_for('browseBooks')}}">Browse Books</a>
                </li>
                <li class="nav-item">
                    <a class="{% if active=='browseSections' %}nav-link active{% else %}nav-link{%endif %}" href="{{url_for('browseSections')}}">Browse Sections</a>
                </li>
            </ul>
        </div>
        <div class="col-1 align-self-center p-1">
            <a class="btn btn-light" href="{{url_for('profile',id=User.user_id)}}">
                <i class="fa-solid fa-user"></i> {{User.username}}
            </a>
        </div>

        <div class="col-1 align-self-center">
            <a class="btn btn-outline-danger" href="{{url_for('logout')}}">
                <i class="fa-solid fa-right-from-bracket"></i>Logout
            </a>
        </div>
    </div>
</div>